{% extends 'base.html.twig' %}

{% block title %}Détails de {article.titre }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Détails de
					{{ article.titre }}</h1>
				<p>{{ article.article }}</p>

				<p>{{ article.date|date('d/m/Y') }}</p>
			</div>
		</div>
	</div>
{% endblock %}

{# {% block javascripts %}
	    {{ parent() }}
	    <script src="{{ asset('js/app.js') }}"></script>
	{% endblock %} #}

{# {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %} #}
